body {
    min-height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; -- useless here it's for child */

}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 17px;
    margin: 0;
}

li {
    padding: 0;
}

/* Hero */

.hero,
.footer {
    background-color: #1f2937;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero .top {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.links a:visited {
    color: burlywood;
}

.links a:hover {
    color: yellowgreen;
}

.top .logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.hero .content {
    display: flex;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 85px;
    /* justify-content: space-around; */
    gap: 100px;

}

#te1

/*Main text of hero*/
    {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

#t1

/*Main title of hero*/
    {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#desc1 {
    color: #e5e7eb;
    font-size: 18px;
}

.signup {
    padding: 10px;
    border-radius: 15%;
    background-color: blue;
    color: white;
    display: flex;
    width: 100px;
    height: auto;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.hero-image {
    width: 400px;
    height: 250px;
    margin-top: 10px;
}

/* Info */

.info .top {
    display: flex;
    flex-direction: column;
}

#te2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;

}

.info .cards {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 43px;
    margin-bottom: 89px;

}

.cards .card {
    display: flex;
    flex-direction: column;


}

.info .box {
    border: 4px solid #3882f6;
    width:150px;
    height: 150px;
    border-radius: 15%;

}

.card .text {
    max-width: 150px;
    display: flex;
    /* justify-content: center; */
    margin: auto;
}


/* Quote */

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

#te3 {
    font-size: 32px;
    font-style: italic;
    font-weight:lighter;
    color: #676869;
    display: flex;
    max-width: 775px;
    margin: auto;
    margin-top: 89px;

}

#author {
    color: #1f2937;
    font-weight: 900;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-left: 470px;
    margin-bottom: 89px;
}


/* Action */

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 89px;
    margin-bottom: 89px;
    flex-grow: 1;
}

.action .box {

    background-color: #3882f6 ;
    color: white;
    display: flex;
    width: 900px;
    height: 130px;
    border: 2px solid #3882f6; 
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
}

#t2 {
    font-weight: 900;
    font-size: 18px;
    color: white;
}

#desc2 {
    color: #e5e7eb;
}

.action .signup {
    background-color: #3882f6;
    border: 2px solid white;
    width: 125px;
    border-radius: 8px;
    font-size: 15px;
}

/* Footer */
.footer {
    margin-top: 49px;
    padding: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text {
    color: white;
}
